.lecturerDash{
    position: relative;
    height: 150vh;
    /* overflow-y: scroll; */
    /* border: 5px solid yellow; */
}

.lecturerDashSideBar{
    width: 26%;
    /* border: 2px solid black; */
    position: absolute;
    top: 0%;
}

.lecturerDashContent{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    width: 74%;
    background-color: #EFEFEF;
    height: 100%;
    padding-top: 30px;
    /* border: 5px solid rgb(255, 0, 0); */
    /* overflow-y: scroll; */
}