.registerUnitsContainer{
  /* border: 3px solid tomato; */
  /* background-color: #ffffff; */
  box-shadow: 1px 2px 6px black;
  margin-bottom: 30px;
  /* margin-top: 900px; */
}

.registerUnits h1{
    font-size: 150%;
    font-family: "RoundedMplus1c-Bold";
    margin-left: 40px;
    color: #06283D;
}
.registerUnit{
    padding-top: 10px;
    max-width: max-content;
    background-image: url('../../../Pictures/pattern.png');
    background-size: cover;
    /* border: 2px solid red; */
}
.registerUnit h2{
    font-size: 140%;
    font-family: "RoundedMplus1c-Bold";
    color: #06283D;
}

/* Customize the label (the container) */
.registerUnitC_B_Container {
    display: block;
    /* border: 2px solid black; */
    max-width: max-content;
    position: relative;
    padding-left: 50px;
    margin: 0px 20px;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 105%;
    font-family: "RoundedMplus1c-Regular";
    font-weight: 600;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .registerUnitC_B_Container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .registerUnit .Btn{
    padding-left: 150px;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #eee;
    
  }
  
  /* On mouse-over, add a grey background color */
  .registerUnitC_B_Container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .registerUnitC_B_Container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .registerUnitC_B_Container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .registerUnitC_B_Container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }